body {
  background-color: rgb(81, 163, 117);
  font-family: cursive;
}
a {
  color: #7fffd4;
}
.container {
  margin: 100px auto;
  max-width: 550px;
}

h1 {
  text-align: center;
  font-weight: 800;
  font-size: 36px;
  line-height: 1.5;
}
form {
  padding: 10px;
  background-color: #fff;
  border-radius: 10px;
  display: flex;
  margin-bottom: 15px;
}
.prompt {
  padding: 10px;
  border: 1px solid;
  width: 80%;
  font-size: 16px;
  border-radius: 50px;
  line-height: 20px;
}
.submit-button {
  margin-left: 10px;
  background-color: #7fffd4;
  color: black;
  width: 150px;
  font-size: 16px;
  border-radius: 50px;
  padding: 14px 1px;
}
.poem {
  padding: 10px;
  background-color: #fff;
  border-radius: 10px;
  font-size: 20px;
  line-height: 1.5;
}
footer {
  text-align: center;
  margin-top: 15px;
}
.loader {
  width: 48px;
  height: 48px;
  border: 5px solid #fff;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
